@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>Your go-to source for laughs — right here on your local server. Lighten up your day with some quality humor!</p>
</div>
